<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DetailViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PAGE_EVENT_DETAIL_ENTER</string>
			<key>Leave</key>
			<string>PAGE_EVENT_DETAIL_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>onShareBtnPressed:</key>
			<string>CTRL_EVENT_DETAIL_SHARE</string>
		</dict>
	</dict>
	<key>HomeViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PAGE_EVENT_HOME_ENTER</string>
			<key>Leave</key>
			<string>PAGE_EVENT_HOME_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>onShareBtnPressed:</key>
			<string>CTRL_EVENT_HOME_SHARE</string>
			<key>onFavBtnPressed:</key>
			<string>CTRL_EVENT_HOME_FAV</string>
		</dict>
	</dict>
</dict>
</plist>
